<div class="container" ng-init="selected = false">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<h1 class="name">JACOB SCHIEBER</h1>
		<div class="bar"></div>
		<h2 class="title">Badger. Programmer. Student.</h2>
		<div class="bar"></div>
		<p class="descrip">&emsp;Madison, Wi based entrepreneur. Current CEO of Zuntik LLC and program management intern at Microsoft.</p>
		<p class="descrip"><a type="button" data-toggle="collapse" data-target="#projCollapse" aria-expanded="false" aria-controls="projCollapse" ng-click="selected = !selected"><span id="projectArrow" class="glyphicon glyphicon-chevron-right glyphRotatePrep" ng-class="{'glyphRotateAction':selected}" aria-hidden="true"></span> Current Projects</a></p>
		<div class="collapse" id="projCollapse">
			<ul>
				<li><a href="http://www.zuntik.com">Zuntik</a></li>
			</ul>
		</div>
		<div class="socialIconGroup">
			<a href="https://twitter.com/oh_jakers"><img src="welcomeIncludes/twitterLarge.png" alt="twitter" class="socialIcon"></a>
			<a href="https://www.facebook.com/jake.schieber.1"><img src="welcomeIncludes/facebookLarge.png" alt="twitter" class="socialIcon"></a>
			<a href="https://www.linkedin.com/pub/jacob-schieber/92/1/38a"><img src="welcomeIncludes/linkedinLarge.png" alt="twitter" class="socialIcon"></a>
		</div>
  </div>
</div> <!-- /container -->